---
import MainLayout from '../../../layouts/MainLayout.astro';
import { ReviewForm } from '../../../components/admin/ReviewForm';

const { id } = Astro.params;
const title = "Editar Review | TechOffers";
---

<MainLayout title={title}>
  <div class="bg-gray-50 min-h-screen py-12 px-4">
    <div class="container mx-auto">
      <ReviewForm client:only="react" reviewId={id} />
    </div>
  </div>
</MainLayout>
